@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
    background-color: #cd5a91;
}
.Todo {
    font-family: 'Inter', sans-serif;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
.card-board {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    gap: 20px;
}
.card-column {
    flex: 1;
    background-color:#f1f2f4;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}
.column-heading {
    text-align: center;
    color: #333;
}
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.card-text {
    margin: 0;
    cursor: pointer;
}

.todo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.todo-input-box {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-grow: 2;
}
#status {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.todo-add-button{
    text-transform: capitalize;
    background-color: rgba(238,238,238,.1);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}

.popup-main{
    height: 100%;
    width: 100%;
    top: 0;
    position:absolute;
}
.popup{
    height: 400px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 25%;
    overflow: hidden;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    border-bottom: 2px solid black;
}

.todo-delete {
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-container{
    max-width: 400px;
    position: absolute;
    padding: 0 30px 0 15px; 
}
.label-text {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
.label-textarea {
    width: 630px;
    height: 80px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}
.add-desc {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.markdown {
    width: 630px;
    height: 100px;
    overflow-y: auto; 
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    word-wrap: break-word;
}
.card-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-button{
    display: flex;
    gap: 10px;
}